In [6]:
import utils
from datetime import datetime
import pandas as pd

In [16]:
import importlib
import utils

importlib.reload(utils)

In [3]:
data_directory = utils.get_data_directory()
top_lakes = pd.read_csv(f"{data_directory}/filtered_lakes.csv")

In [4]:
top_lakes

,osmid,name,area,distance,water,university,centroid_long,centroid_lat,pixel_size,pixel_count,total_pixel_area
0,332072,Maharana Pratap Reservoir,2.326225e+08,34042.231935,reservoir,Arni University,76.054553,31.996504,15,1039287,233839575
1,357472,Jalaput Reservoir,8.211214e+07,107375.805937,reservoir,Andhra University,82.596081,18.395926,10,878103,87810300
2,1579454,Yeleru Reservoir,4.753580e+07,44401.006783,reservoir,Adikavi Nannaya University,82.063486,17.322695,5,1916439,47910975
3,1601368,Gobind Sagar,1.288780e+08,48946.638589,reservoir,Abhilashi University,76.542951,31.385295,20,324139,129655600
4,1606905,Shabd Lake,9.741317e+05,35061.569722,lake,Acharya Ng Ranga Agricultural University,78.121256,17.157075,5,39118,977950
5,1623305,NaN,1.246895e+06,74127.271140,reservoir,Anna University,79.554843,12.960418,5,49823,1245575
6,1624070,Pulicat Lake,5.605353e+08,69036.566401,lake,Anna University,80.160980,13.630831,25,1053149,658218125
7,2252564,Man Sagar,1.091206e+06,32199.394088,lake,Amity University,75.849510,26.956007,5,43925,1098125
8,2810519,Indira Sagar,7.018787e+08,131506.801830,reservoir,Aisect University,76.669241,22.195976,25,1144148,715092500
9,5411363,Himayat Sagar,1.486924e+07,4929.035719,lake,Acharya Ng Ranga Agricultural University,78.353538,17.312860,5,602296,15057400
10,7876724,Singur Lake,1.332459e+08,78458.940502,reservoir,Acharya Ng Ranga Agricultural University,77.862349,17.827608,15,598628,134691300
11,7903593,NaN,2.172984e+06,31631.873595,reservoir,Amrita Vishwa Vidyapeetham,76.771954,10.587003,5,87260,2181500
12,8026438,NaN,5.553566e+07,98341.046840,reservoir,Anand Agricultural University,73.765989,23.023234,10,583661,58366100
13,8421510,Sukhna Lake,1.362619e+06,49586.852111,lake,APG (Alakh Prakash Goyal) University,76.819958,30.741408,5,55657,1391425
14,16288976,Ban Sagar Lake,2.964632e+08,46613.070915,lake,AKS University,81.050004,24.085547,25,481959,301224375
15,25394523,Sholavaram Lake,6.148574e+06,25446.310352,reservoir,Anna University,80.143047,13.222146,5,246155,6153875
16,58680339,Tawa Reservoir,3.797087e+07,73757.687707,reservoir,Aisect University,78.099099,22.565311,10,361487,36148700
17,92001285,Meghadri Reservoir,7.325989e+06,16276.388041,reservoir,Andhra University,83.181462,17.777339,5,291566,7289150
18,115769453,Pedda Vagu Reservoir,2.673053e+06,85589.542918,reservoir,Adikavi Nannaya University,81.163272,17.417893,5,106988,2674700
19,156782315,Kazhuveli Eri,7.296073e+07,78079.859558,lake,Annamalai University,79.851760,12.109803,10,729241,72924100
20,376637622,NaN,9.787155e+05,68687.764176,reservoir,Azim Premji University,77.747715,13.465282,5,39072,976800
21,542065368,NaN,1.458308e+06,45327.698555,lake,Acharya Nagarjuna University,80.130919,16.540162,5,58546,1463650
22,1273092884,NaN,1.076163e+06,14120.632507,pond,Acharya Nagarjuna University,80.569939,16.582780,5,43061,1076525

In [17]:
top_lake_logs = utils.get_all_saved_logs(top_lakes)

0 :  252
1 :  186
2 :  186
3 :  126
4 :  22
5 :  31
6 :  31
7 :  24
8 :  23
9 :  190
10 :  173
11 :  179
12 :  186
13 :  220
14 :  249
15 :  180
16 :  173
17 :  180
18 :  183
19 :  183
20 :  177
21 :  181
22 :  183

In [18]:
top_lake_logs[top_lake_logs["exists_true_image"] == True]

,osmid,day,exists_true_image,total_pixel_area,water_area,cloud_area,water_with_no_clouds_area,no_chl_area,chl_very_low_area,chl_low_area,chl_moderate_area,chl_high_area,chl_very_high_area
2,332072,2020-01-03,True,233839575,214281000.0,0.0,214281000.0,174185325.0,35375625.0,4612050.0,87300.0,20250.0,450.0
3,332072,2020-01-08,True,233839575,133802100.0,199359675.0,29695275.0,22834350.0,5511600.0,1342800.0,4950.0,1575.0,0.0
4,332072,2020-01-13,True,233839575,0.0,226910475.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,332072,2020-01-18,True,233839575,189730800.0,113298525.0,117989550.0,106267275.0,7215075.0,4500000.0,6300.0,675.0,225.0
6,332072,2020-01-23,True,233839575,211927050.0,0.0,211927050.0,180645750.0,28065375.0,2968875.0,208575.0,38475.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3513,1273092884,2024-08-07,True,1076525,0.0,1088525.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3514,1273092884,2024-08-17,True,1076525,651500.0,1088525.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3515,1273092884,2024-08-27,True,1076525,985225.0,1088525.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3516,1273092884,2024-09-01,True,1076525,1088525.0,1088525.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3517,1273092884,2024-09-06,True,1076525,1088200.0,1088525.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0