In [1]:
import utils
import pandas as pd
from datetime import datetime
import numpy as np
import os

c:\Users\agand\OneDrive\Escritorio\lakes\lake-algae-analysis\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [123]:
import importlib
import utils

importlib.reload(utils)

In [3]:
data_directory = utils.get_data_directory()

In [4]:
lakes = pd.read_csv(f"{data_directory}/all_lakes_with_pixels.csv")

In [5]:
lakes

,Unnamed: 0.1,Unnamed: 0,osmid,name,area,distance,water,university,centroid_long,centroid_lat,pixel_size,pixel_count,total_pixel_area
0,0,0,277584,Dhom reservoir,1.290209e+07,79414.962954,reservoir,Ajeenkya D Y Patil University,73.788666,17.979079,5,513799,12844975
1,1,1,278303,Pimpalgaon Joga Reservoir,2.154465e+07,86045.584675,reservoir,Amity University,73.838884,19.329037,5,864677,21616925
2,2,2,278467,Yedgaon Reservoir,8.330740e+06,64936.430140,reservoir,Ajeenkya D Y Patil University,73.991282,19.182565,5,333829,8345725
3,3,3,311633,Vihar Lake,4.768830e+06,31244.525996,reservoir,Amity University,72.911029,19.153996,5,196032,4900800
4,4,4,332072,Maharana Pratap Reservoir,2.326225e+08,34042.231935,reservoir,Arni University,76.054553,31.996504,15,1039287,233839575
...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,355,355,11913421-1,NaN,1.561140e+06,96662.926046,NaN,Amity University,82.673424,20.853837,5,62580,1564500
356,356,356,13346368-1,NaN,5.019920e+06,73761.543515,NaN,Awadesh Pratap Singh University,81.147162,25.210485,5,201261,5031525
357,357,357,1868190-0,NaN,3.262787e+06,3920.423949,NaN,Atal Bihari Vajpai Hindi Vishwavidyalaya,77.392836,23.198233,5,133148,3328700
358,358,358,7538927-0,NaN,1.949978e+06,87846.226771,NaN,Azim Premji University,77.065449,13.385130,5,77992,1949800
359,359,359,8066764-1,NaN,1.731295e+07,62145.872399,NaN,Atal Bihari Vajpai Hindi Vishwavidyalaya,77.484289,23.769655,5,683689,17092225

In [54]:
logs = pd.read_csv(f"{data_directory}/all_saved_logs.csv")

In [21]:
logs

,osmid,day,exists_true_image,total_pixel_area,water_area,cloud_area,water_with_no_clouds_area,no_chl_area,chl_very_low_area,chl_low_area,chl_moderate_area,chl_high_area,chl_very_high_area
0,277584,2020-04-01,False,12844975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,277584,2020-04-02,False,12844975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,277584,2020-04-03,False,12844975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,277584,2020-04-04,True,12844975,12896925.0,0.0,12896925.0,5893375.0,6172725.0,830825.0,0.0,0.0,0.0
4,277584,2020-05-14,True,12844975,12818275.0,0.0,12818275.0,7728400.0,655250.0,4434525.0,100.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5173,1016927646,2024-06-21,True,908550,0.0,926250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5174,1016927646,2024-07-11,True,908550,0.0,926250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5175,1016927646,2024-07-31,True,908550,0.0,926250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5176,1016927646,2024-08-20,True,908550,2800.0,926250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5177,1016927646,2024-09-09,False,908550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
logs = logs[logs["exists_true_image"] == True]

In [9]:
logs

,osmid,day,exists_true_image,total_pixel_area,water_area,cloud_area,water_with_no_clouds_area,no_chl_area,chl_very_low_area,chl_low_area,chl_moderate_area,chl_high_area,chl_very_high_area
3,277584,2020-04-04,True,12844975,12896925.0,0.0,12896925.0,5893375.0,6172725.0,830825.0,0.0,0.0,0.0
4,277584,2020-05-14,True,12844975,12818275.0,0.0,12818275.0,7728400.0,655250.0,4434525.0,100.0,0.0,0.0
5,277584,2020-06-23,True,12844975,10909000.0,7375975.0,5367000.0,5295150.0,13650.0,58200.0,0.0,0.0,0.0
6,277584,2020-08-02,True,12844975,11622400.0,12068200.0,931175.0,409300.0,83500.0,438375.0,0.0,0.0,0.0
7,277584,2020-09-11,True,12844975,11750700.0,5049775.0,7869250.0,1188700.0,6192200.0,487775.0,575.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5172,1016927646,2024-06-01,True,908550,5900.0,926250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5173,1016927646,2024-06-21,True,908550,0.0,926250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5174,1016927646,2024-07-11,True,908550,0.0,926250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5175,1016927646,2024-07-31,True,908550,0.0,926250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5176,1016927646,2024-08-20,True,908550,2800.0,926250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
logs = logs.merge(lakes[['osmid', 'pixel_size']], on='osmid', how='left')

In [12]:
logs

,osmid,day,exists_true_image,total_pixel_area,water_area,cloud_area,water_with_no_clouds_area,no_chl_area,chl_very_low_area,chl_low_area,chl_moderate_area,chl_high_area,chl_very_high_area,pixel_size
0,277584,2020-04-04,True,12844975,12896925.0,0.0,12896925.0,5893375.0,6172725.0,830825.0,0.0,0.0,0.0,5
1,277584,2020-05-14,True,12844975,12818275.0,0.0,12818275.0,7728400.0,655250.0,4434525.0,100.0,0.0,0.0,5
2,277584,2020-06-23,True,12844975,10909000.0,7375975.0,5367000.0,5295150.0,13650.0,58200.0,0.0,0.0,0.0,5
3,277584,2020-08-02,True,12844975,11622400.0,12068200.0,931175.0,409300.0,83500.0,438375.0,0.0,0.0,0.0,5
4,277584,2020-09-11,True,12844975,11750700.0,5049775.0,7869250.0,1188700.0,6192200.0,487775.0,575.0,0.0,0.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3791,1016927646,2024-06-01,True,908550,5900.0,926250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
3792,1016927646,2024-06-21,True,908550,0.0,926250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
3793,1016927646,2024-07-11,True,908550,0.0,926250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
3794,1016927646,2024-07-31,True,908550,0.0,926250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
3795,1016927646,2024-08-20,True,908550,2800.0,926250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5

In [13]:
water_no_cloud_lakes = logs.sort_values('water_with_no_clouds_area', ascending=False).groupby('osmid').first().reset_index().sort_values('water_with_no_clouds_area', ascending=True)
water_no_cloud_lakes["relative_water_no_cloud"] = water_no_cloud_lakes["water_with_no_clouds_area"] / water_no_cloud_lakes["total_pixel_area"]

In [14]:
top_water_no_cloud_lakes = water_no_cloud_lakes[water_no_cloud_lakes["relative_water_no_cloud"] < 0.25].sort_values("relative_water_no_cloud", ascending = True)

In [15]:
top_water_no_cloud_lakes

,osmid,day,exists_true_image,total_pixel_area,water_area,cloud_area,water_with_no_clouds_area,no_chl_area,chl_very_low_area,chl_low_area,chl_moderate_area,chl_high_area,chl_very_high_area,pixel_size,relative_water_no_cloud
52,1177288809,2023-12-14,True,923300,29500.0,924050.0,8650.0,8650.0,0.0,0.0,0.0,0.0,0.0,5,0.009369
267,653705468,2023-12-26,True,948550,13750.0,27450.0,13750.0,13750.0,0.0,0.0,0.0,0.0,0.0,5,0.014496
139,259095818,2024-08-10,True,1127875,17975.0,0.0,17975.0,17975.0,0.0,0.0,0.0,0.0,0.0,5,0.015937
3,1002016842,2024-01-15,True,969300,56450.0,965400.0,15925.0,15925.0,0.0,0.0,0.0,0.0,0.0,5,0.016429
206,429383308,2024-02-27,True,986150,122450.0,740925.0,23625.0,23625.0,0.0,0.0,0.0,0.0,0.0,5,0.023957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,831047456,2024-05-04,True,3288550,3034575.0,2554025.0,758925.0,758925.0,0.0,0.0,0.0,0.0,0.0,5,0.230778
61,1226794641,2024-08-22,True,1111225,262850.0,0.0,262850.0,262850.0,0.0,0.0,0.0,0.0,0.0,5,0.236541
88,15009693,2024-04-13,True,1117550,268775.0,0.0,268775.0,267650.0,0.0,1125.0,0.0,0.0,0.0,5,0.240504
75,1305543054,2024-01-05,True,1035200,251325.0,0.0,251325.0,251225.0,0.0,100.0,0.0,0.0,0.0,5,0.242779
57,11913421-1,2023-12-16,True,1564500,384125.0,0.0,384125.0,380200.0,1725.0,2200.0,0.0,0.0,0.0,5,0.245526

In [17]:
logs = logs.drop('pixel_size', axis=1)

In [22]:
logs

,osmid,day,exists_true_image,total_pixel_area,water_area,cloud_area,water_with_no_clouds_area,no_chl_area,chl_very_low_area,chl_low_area,chl_moderate_area,chl_high_area,chl_very_high_area
0,277584,2020-04-01,False,12844975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,277584,2020-04-02,False,12844975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,277584,2020-04-03,False,12844975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,277584,2020-04-04,True,12844975,12896925.0,0.0,12896925.0,5893375.0,6172725.0,830825.0,0.0,0.0,0.0
4,277584,2020-05-14,True,12844975,12818275.0,0.0,12818275.0,7728400.0,655250.0,4434525.0,100.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5173,1016927646,2024-06-21,True,908550,0.0,926250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5174,1016927646,2024-07-11,True,908550,0.0,926250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5175,1016927646,2024-07-31,True,908550,0.0,926250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5176,1016927646,2024-08-20,True,908550,2800.0,926250.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5177,1016927646,2024-09-09,False,908550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
saved_logs.to_csv(f"{data_directory}/all_saved_logs.csv", index = False)
saved_logs.to_csv("../data/all_saved_logs.csv")

### Select logs

In [73]:
# Filtrando el DataFrame logs con condiciones
selected_logs = logs[
    (logs["exists_true_image"] == True) & 
    (logs["water_with_no_clouds_area"] > 0.1 * logs["total_pixel_area"]) & 
    (logs["cloud_area"] < 0.5 * logs["total_pixel_area"])
]

In [74]:
selected_logs

,osmid,day,exists_true_image,total_pixel_area,water_area,cloud_area,water_with_no_clouds_area,no_chl_area,chl_very_low_area,chl_low_area,chl_moderate_area,chl_high_area,chl_very_high_area
3,277584,2020-04-04,True,12844975,12896925.0,0.0,12896925.0,5893375.0,6172725.0,830825.0,0.0,0.0,0.0
4,277584,2020-05-14,True,12844975,12818275.0,0.0,12818275.0,7728400.0,655250.0,4434525.0,100.0,0.0,0.0
7,277584,2020-09-11,True,12844975,11750700.0,5049775.0,7869250.0,1188700.0,6192200.0,487775.0,575.0,0.0,0.0
8,277584,2020-10-21,True,12844975,12457050.0,6341850.0,6584775.0,6584775.0,0.0,0.0,0.0,0.0,0.0
9,277584,2020-11-30,True,12844975,12711850.0,356525.0,12459275.0,12148350.0,261550.0,46600.0,2575.0,100.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6073,138337743,2023-10-02,True,2212650,713750.0,0.0,713750.0,669650.0,1450.0,5350.0,9225.0,14175.0,13900.0
6078,138337743,2024-01-10,True,2212650,1759525.0,678750.0,1357975.0,1331150.0,2325.0,23600.0,900.0,0.0,0.0
6081,138337743,2024-03-10,True,2212650,1254600.0,0.0,1254600.0,1141950.0,900.0,111650.0,100.0,0.0,0.0
6082,138337743,2024-03-30,True,2212650,947775.0,0.0,947775.0,480200.0,1100.0,466475.0,0.0,0.0,0.0
6083,138337743,2024-04-19,True,2212650,777250.0,0.0,777250.0,554075.0,200.0,218100.0,2025.0,1750.0,1100.0

In [75]:
selected_logs.osmid.nunique()

327

In [76]:
# 1. Obtener los osmids que estÃ¡n en logs pero no en selected_logs
osmids_diff = set(logs['osmid']) - set(selected_logs['osmid'])

# 2. Filtrar el DataFrame logs para obtener las filas correspondientes a esos osmids y donde exists_true_image es True
filtered_logs = logs[(logs['osmid'].isin(osmids_diff)) & (logs['exists_true_image'] == True)]

# 3. Contar cuÃ¡ntas filas hay para cada valor de osmid en logs
osmid_counts = filtered_logs['osmid'].value_counts()

In [91]:
columns_to_use = ["chl_very_low_area", "chl_low_area", "chl_moderate_area", "chl_high_area", "chl_very_high_area"]

weights = np.array([0.2, 0.4, 0.6, 0.8, 1])
selected_logs.loc[:, "mci"] = (selected_logs[columns_to_use].values @ weights) / 1000000
selected_logs.loc[:, "relative_mci"] = selected_logs["mci"] * 1000000 / selected_logs["water_with_no_clouds_area"]

ponderated_weights = np.array([0.1, 0.2, 0.4, 1, 2.5])
selected_logs.loc[:, "ponderated_mci"] = selected_logs[columns_to_use].values @ ponderated_weights / 1000000
selected_logs.loc[:, "relative_ponderated_mci"] = selected_logs["ponderated_mci"] * 1000000 / selected_logs["water_with_no_clouds_area"]

In [92]:
selected_logs

,osmid,day,exists_true_image,total_pixel_area,water_area,cloud_area,water_with_no_clouds_area,no_chl_area,chl_very_low_area,chl_low_area,chl_moderate_area,chl_high_area,chl_very_high_area,mci,relative_mci,ponderated_mci,relative_ponderate_mci,relative_ponderated_mci
3,277584,2020-04-04,True,12844975,12896925.0,0.0,12896925.0,5893375.0,6172725.0,830825.0,0.0,0.0,0.0,1.566875,0.121492,0.783438,1.214921e-07,0.060746
4,277584,2020-05-14,True,12844975,12818275.0,0.0,12818275.0,7728400.0,655250.0,4434525.0,100.0,0.0,0.0,1.904920,0.148610,0.952470,1.486097e-07,0.074306
7,277584,2020-09-11,True,12844975,11750700.0,5049775.0,7869250.0,1188700.0,6192200.0,487775.0,575.0,0.0,0.0,1.433895,0.182215,0.717005,1.822150e-07,0.091115
8,277584,2020-10-21,True,12844975,12457050.0,6341850.0,6584775.0,6584775.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000e+00,0.000000
9,277584,2020-11-30,True,12844975,12711850.0,356525.0,12459275.0,12148350.0,261550.0,46600.0,2575.0,100.0,100.0,0.072675,0.005833,0.036855,5.833004e-09,0.002958
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6073,138337743,2023-10-02,True,2212650,713750.0,0.0,713750.0,669650.0,1450.0,5350.0,9225.0,14175.0,13900.0,0.033205,0.046522,0.053830,4.652189e-08,0.075419
6078,138337743,2024-01-10,True,2212650,1759525.0,678750.0,1357975.0,1331150.0,2325.0,23600.0,900.0,0.0,0.0,0.010445,0.007692,0.005313,7.691600e-09,0.003912
6081,138337743,2024-03-10,True,2212650,1254600.0,0.0,1254600.0,1141950.0,900.0,111650.0,100.0,0.0,0.0,0.044900,0.035788,0.022460,3.578830e-08,0.017902
6082,138337743,2024-03-30,True,2212650,947775.0,0.0,947775.0,480200.0,1100.0,466475.0,0.0,0.0,0.0,0.186810,0.197104,0.093405,1.971037e-07,0.098552
6083,138337743,2024-04-19,True,2212650,777250.0,0.0,777250.0,554075.0,200.0,218100.0,2025.0,1750.0,1100.0,0.090995,0.117073,0.048950,1.170730e-07,0.062978

In [93]:
# 1. Ordenar por 'mci' (de mayor a menor), agrupar por 'osmid' y obtener el mejor registro de cada lago
top_mci_lakes = selected_logs.sort_values('mci', ascending=False).groupby('osmid').first().reset_index().sort_values('mci', ascending=False)

# 2. Quedarse con los 10 primeros lagos con mejor 'mci'
top_10_mci_lakes = top_mci_lakes.nlargest(10, 'mci')[['osmid', 'mci']]

# Repetir el mismo proceso para 'relative_mci'
top_relative_mci_lakes = selected_logs.sort_values('relative_mci', ascending=False).groupby('osmid').first().reset_index().sort_values('relative_mci', ascending=False)
top_10_relative_mci_lakes = top_relative_mci_lakes.nlargest(10, 'relative_mci')[['osmid', 'relative_mci']]

# Y para 'ponderated_mci'
top_ponderated_mci_lakes = selected_logs.sort_values('ponderated_mci', ascending=False).groupby('osmid').first().reset_index().sort_values('ponderated_mci', ascending=False)
top_10_ponderated_mci_lakes = top_ponderated_mci_lakes.nlargest(10, 'ponderated_mci')[['osmid', 'ponderated_mci']]

# TambiÃ©n para 'relative_ponderated_mci'
top_relative_ponderated_mci_lakes = selected_logs.sort_values('relative_ponderated_mci', ascending=False).groupby('osmid').first().reset_index().sort_values('relative_ponderated_mci', ascending=False)
top_10_relative_ponderated_mci_lakes = top_relative_ponderated_mci_lakes.nlargest(10, 'relative_ponderated_mci')[['osmid', 'relative_ponderated_mci']]

# Mostrar los resultados
print("Top 10 lagos segÃºn MCI:")
print(top_10_mci_lakes)

print("\nTop 10 lagos segÃºn Relative MCI:")
print(top_10_relative_mci_lakes)

print("\nTop 10 lagos segÃºn Ponderated MCI:")
print(top_10_ponderated_mci_lakes)

print("\nTop 10 lagos segÃºn Relative Ponderated MCI:")
print(top_10_relative_ponderated_mci_lakes)

# Convertir a sets para facilitar la intersecciÃ³n
top_mci_ids = set(top_10_mci_lakes['osmid'])
top_relative_mci_ids = set(top_10_relative_mci_lakes['osmid'])
top_ponderated_mci_ids = set(top_10_ponderated_mci_lakes['osmid'])
top_relative_ponderated_mci_ids = set(top_10_relative_ponderated_mci_lakes['osmid'])

# Encontrar la intersecciÃ³n entre los cuatro conjuntos
repeated_lakes = top_mci_ids.intersection(top_relative_mci_ids, top_ponderated_mci_ids, top_relative_ponderated_mci_ids)

# Mostrar los osmids de los lagos que se repiten en los cuatro criterios
print("Lagos que se repiten en los cuatro criterios (MCI, Relative MCI, Ponderated MCI, Relative Ponderated MCI):")
print(repeated_lakes)

# Si tambiÃ©n quieres ver los lagos que se repiten en al menos dos criterios:
repeated_in_two_criteria = (top_mci_ids & top_relative_mci_ids) | (top_mci_ids & top_ponderated_mci_ids) | \
                           (top_mci_ids & top_relative_ponderated_mci_ids) | (top_relative_mci_ids & top_ponderated_mci_ids) | \
                           (top_relative_mci_ids & top_relative_ponderated_mci_ids) | (top_ponderated_mci_ids & top_relative_ponderated_mci_ids)

print("\nLagos que se repiten en al menos dos criterios:")
print(repeated_in_two_criteria)

Top 10 lagos segÃºn MCI:
        osmid         mci
137   2810519  252.812125
90    1624070  211.761250
92   16288976  145.835125
150    332072   49.655160
164    357472   34.787200
83    1601368   26.521440
277   8026438   15.014040
81    1579454   13.266800
224  58680339   12.703960
254   7876724   12.061080

Top 10 lagos segÃºn Relative MCI:
          osmid  relative_mci
84      1606905      0.891829
299     8421510      0.847881
211   542065368      0.834151
313    92001285      0.815929
89      1623305      0.786729
121    25394523      0.731087
28    115769453      0.710272
166   376637622      0.703626
267     7903593      0.698084
61   1273092884      0.695717

Top 10 lagos segÃºn Ponderated MCI:
         osmid  ponderated_mci
92    16288976      319.560625
90     1624070      319.097500
137    2810519      219.736500
164     357472       45.739460
150     332072       24.861960
83     1601368       13.261080
79   156782315       12.046960
224   58680339       11.774120
209    5411363       10.419102
121   25394523        7.849328

Top 10 lagos segÃºn Relative Ponderated MCI:
          osmid  relative_ponderated_mci
84      1606905                 2.228287
299     8421510                 2.119107
211   542065368                 1.985989
313    92001285                 1.948200
89      1623305                 1.947976
121    25394523                 1.786059
166   376637622                 1.757788
267     7903593                 1.721900
61   1273092884                 1.721662
112     2252564                 1.505402
Lagos que se repiten en los cuatro criterios (MCI, Relative MCI, Ponderated MCI, Relative Ponderated MCI):
set()

Lagos que se repiten en al menos dos criterios:
{'376637622', '1624070', '1623305', '2810519', '16288976', '1601368', '357472', '8421510', '1273092884', '1606905', '332072', '58680339', '542065368', '25394523', '92001285', '7903593'}

In [100]:
all_top_osmids = top_mci_ids.union(top_relative_mci_ids).union(top_ponderated_mci_ids).union(top_relative_ponderated_mci_ids)

filtered_lakes = lakes[lakes['osmid'].isin(all_top_osmids)]

filtered_lakes

,Unnamed: 0.1,Unnamed: 0,osmid,name,area,distance,water,university,centroid_long,centroid_lat,pixel_size,pixel_count,total_pixel_area
4,4,4,332072,Maharana Pratap Reservoir,2.326225e+08,34042.231935,reservoir,Arni University,76.054553,31.996504,15,1039287,233839575
5,5,5,357472,Jalaput Reservoir,8.211214e+07,107375.805937,reservoir,Andhra University,82.596081,18.395926,10,878103,87810300
6,6,6,1579454,Yeleru Reservoir,4.753580e+07,44401.006783,reservoir,Adikavi Nannaya University,82.063486,17.322695,5,1916439,47910975
8,8,8,1601368,Gobind Sagar,1.288780e+08,48946.638589,reservoir,Abhilashi University,76.542951,31.385295,20,324139,129655600
9,9,9,1606905,Shabd Lake,9.741317e+05,35061.569722,lake,Acharya Ng Ranga Agricultural University,78.121256,17.157075,5,39118,977950
12,12,12,1623305,NaN,1.246895e+06,74127.271140,reservoir,Anna University,79.554843,12.960418,5,49823,1245575
13,13,13,1624070,Pulicat Lake,5.605353e+08,69036.566401,lake,Anna University,80.160980,13.630831,25,1053149,658218125
22,22,22,2252564,Man Sagar,1.091206e+06,32199.394088,lake,Amity University,75.849510,26.956007,5,43925,1098125
23,23,23,2810519,Indira Sagar,7.018787e+08,131506.801830,reservoir,Aisect University,76.669241,22.195976,25,1144148,715092500
28,28,28,5411363,Himayat Sagar,1.486924e+07,4929.035719,lake,Acharya Ng Ranga Agricultural University,78.353538,17.312860,5,602296,15057400
39,39,39,7876724,Singur Lake,1.332459e+08,78458.940502,reservoir,Acharya Ng Ranga Agricultural University,77.862349,17.827608,15,598628,134691300
52,52,52,7903593,NaN,2.172984e+06,31631.873595,reservoir,Amrita Vishwa Vidyapeetham,76.771954,10.587003,5,87260,2181500
60,60,60,8026438,NaN,5.553566e+07,98341.046840,reservoir,Anand Agricultural University,73.765989,23.023234,10,583661,58366100
71,71,71,8421510,Sukhna Lake,1.362619e+06,49586.852111,lake,APG (Alakh Prakash Goyal) University,76.819958,30.741408,5,55657,1391425
102,102,102,16288976,Ban Sagar Lake,2.964632e+08,46613.070915,lake,AKS University,81.050004,24.085547,25,481959,301224375
107,107,107,25394523,Sholavaram Lake,6.148574e+06,25446.310352,reservoir,Anna University,80.143047,13.222146,5,246155,6153875
149,149,149,58680339,Tawa Reservoir,3.797087e+07,73757.687707,reservoir,Aisect University,78.099099,22.565311,10,361487,36148700
158,158,158,92001285,Meghadri Reservoir,7.325989e+06,16276.388041,reservoir,Andhra University,83.181462,17.777339,5,291566,7289150
170,170,170,115769453,Pedda Vagu Reservoir,2.673053e+06,85589.542918,reservoir,Adikavi Nannaya University,81.163272,17.417893,5,106988,2674700
197,197,197,156782315,Kazhuveli Eri,7.296073e+07,78079.859558,lake,Annamalai University,79.851760,12.109803,10,729241,72924100
235,235,235,376637622,NaN,9.787155e+05,68687.764176,reservoir,Azim Premji University,77.747715,13.465282,5,39072,976800
265,265,265,542065368,NaN,1.458308e+06,45327.698555,lake,Acharya Nagarjuna University,80.130919,16.540162,5,58546,1463650
346,346,346,1273092884,NaN,1.076163e+06,14120.632507,pond,Acharya Nagarjuna University,80.569939,16.582780,5,43061,1076525

In [107]:
filtered_lakes = filtered_lakes.drop(["Unnamed: 0.1", "Unnamed: 0"], axis =1)

In [109]:
filtered_lakes.to_csv(f"{data_directory}/filtered_lakes.csv", index = False)
filtered_lakes.to_csv("../data/filtered_lakes.csv", index = False)

In [108]:
filtered_lakes.iloc[:12]

,osmid,name,area,distance,water,university,centroid_long,centroid_lat,pixel_size,pixel_count,total_pixel_area
4,332072,Maharana Pratap Reservoir,2.326225e+08,34042.231935,reservoir,Arni University,76.054553,31.996504,15,1039287,233839575
5,357472,Jalaput Reservoir,8.211214e+07,107375.805937,reservoir,Andhra University,82.596081,18.395926,10,878103,87810300
6,1579454,Yeleru Reservoir,4.753580e+07,44401.006783,reservoir,Adikavi Nannaya University,82.063486,17.322695,5,1916439,47910975
8,1601368,Gobind Sagar,1.288780e+08,48946.638589,reservoir,Abhilashi University,76.542951,31.385295,20,324139,129655600
9,1606905,Shabd Lake,9.741317e+05,35061.569722,lake,Acharya Ng Ranga Agricultural University,78.121256,17.157075,5,39118,977950
12,1623305,NaN,1.246895e+06,74127.271140,reservoir,Anna University,79.554843,12.960418,5,49823,1245575
13,1624070,Pulicat Lake,5.605353e+08,69036.566401,lake,Anna University,80.160980,13.630831,25,1053149,658218125
22,2252564,Man Sagar,1.091206e+06,32199.394088,lake,Amity University,75.849510,26.956007,5,43925,1098125
23,2810519,Indira Sagar,7.018787e+08,131506.801830,reservoir,Aisect University,76.669241,22.195976,25,1144148,715092500
28,5411363,Himayat Sagar,1.486924e+07,4929.035719,lake,Acharya Ng Ranga Agricultural University,78.353538,17.312860,5,602296,15057400
39,7876724,Singur Lake,1.332459e+08,78458.940502,reservoir,Acharya Ng Ranga Agricultural University,77.862349,17.827608,15,598628,134691300
52,7903593,NaN,2.172984e+06,31631.873595,reservoir,Amrita Vishwa Vidyapeetham,76.771954,10.587003,5,87260,2181500

In [29]:
# Filtrar los registros de logs donde 'osmid' estÃ¡ en repeated_in_two_criteria
filtered_logs = logs[logs['osmid'].isin(repeated_in_two_criteria)]

# Mostrar los registros filtrados
filtered_logs

,Unnamed: 0,osmid,day,exists_true_image,total_pixel_area,water_area,cloud_area,water_with_no_clouds_area,no_chl_area,chl_very_low_area,chl_low_area,chl_moderate_area,chl_high_area,chl_very_high_area,pixel_size,mci,relative_mci,ponderated_mci
98,131,332072,2020-06-06,True,233839575,84356550.0,233473950.0,1807875.0,1807875.0,0.0,0.0,0.0,0.0,0.0,15,0.0,0.000000,0.0
99,132,332072,2020-06-11,True,233839575,81179325.0,186335550.0,36998775.0,36442350.0,199125.0,348525.0,7200.0,1575.0,0.0,15,184815.0,0.004995,94072.5
100,133,332072,2020-06-16,True,233839575,171666000.0,0.0,171666000.0,149008275.0,7798500.0,13502925.0,950625.0,371475.0,34200.0,15,7862625.0,0.045802,4317660.0
101,134,332072,2020-06-21,True,233839575,4853475.0,3888225.0,4408875.0,4408875.0,0.0,0.0,0.0,0.0,0.0,15,0.0,0.000000,0.0
102,135,332072,2020-06-26,True,233839575,150091425.0,69534000.0,119836125.0,118393650.0,271350.0,1078875.0,84150.0,8100.0,0.0,15,542790.0,0.004529,284670.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1470,2015,58680339,2024-01-01,True,36148700,34531400.0,1587700.0,33502400.0,16912000.0,11651500.0,4938700.0,200.0,0.0,0.0,10,4305900.0,0.128525,2152970.0
1471,2017,58680339,2024-03-21,True,36148700,26543100.0,0.0,26543100.0,16954800.0,8092100.0,1494100.0,2100.0,0.0,0.0,10,2217320.0,0.083537,1108870.0
1472,2018,58680339,2024-04-30,True,36148700,18778100.0,0.0,18778100.0,11855000.0,2228400.0,4645100.0,48500.0,1100.0,0.0,10,2333700.0,0.124278,1172360.0
1473,2019,58680339,2024-06-09,True,36148700,8851800.0,0.0,8851800.0,6933300.0,39100.0,1564800.0,227600.0,83200.0,3800.0,10,840660.0,0.094971,500610.0
1474,2021,58680339,2024-08-28,True,36148700,33342900.0,7316100.0,28363000.0,8856100.0,76900.0,2189900.0,9927000.0,7283400.0,29700.0,10,12703960.0,0.447906,11774120.0